body {
	display: flex;
	flex-direction: column;
	gap: 16px;

	padding: 32px;
}

.box {
	padding: 32px;
	border: solid 2px var(--blue-2);
	border-radius: 16px;
	box-shadow: 0 0 10px var(--blue-1);
}

main h1 { --font-size: 3rem; }
main h2 { --font-size: 2.5rem; }
main h3 { --font-size: 1.5rem; }
main h4 { --font-size: 1.2rem; }
main h5 { --font-size: 1rem; }
main h6 { --font-size: 0.8rem; }

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	font-size: var(--font-size);
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

main section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

main .grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

header {
	background: var(--blue-1);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#header-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#header-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

#header-right form {
	padding: 0;
}

#header-right ul {
	min-width: 190px;
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.blinking {
	animation: blinking 1.1s infinite;
}

@keyframes blinking {
	50% {
		opacity: 0;
	}
}

@media (max-width: 500px) {
	#header-right ul {
		flex-direction: column;
	}
	nav {
		flex-direction: column;
		gap: 5px;
	}
}

.display-none {
	display: none;
}
